<input [(ngModel)]="text" (ngModelChange)="search()" />



<table  class="table table-bordered">
  <thead  class="table table-success table-striped">
  <th scope="col">Page url</th>
  <th scope="col">Page impression</th>
  <th scope="col">Clicks</th>
  <th scope="col">Orders</th>
  <th scope="col">Order value ($)</th>
  <th scope="col">Publisher order revenue ($)</th>
  <th scope="col">Cpc clicks</th>
  <th scope="col">Publisher cpc revenue ($)</th>
  <th scope="col">eCPC</th>
  <th scope="col">Commission rate</th>
  <th scope="col">Total earnings</th>
  <th scope="col">Author</th>
  </thead>
  <tbody>

  <tr class="table table-bordered"  *ngFor="let user of users | paginate: {id: 'server', itemsPerPage: itemsPerPage, currentPage: page, totalItems: total}" >
    <td>{{user.pageUrl}}</td>
    <td>{{user.pageImpressions}}</td>
    <td>{{user.clicks}}</td>
    <td>{{user.orders}}</td>
    <td>{{user.orderValue}}</td>
    <td>{{user.publisherOrderRevenue}}</td>
    <td>{{user.cpcClicks}}</td>
    <td>{{user.publisherCpcRevenue}}</td>
    <td>{{user.eCPC}}</td>
    <td>{{user.commissionRate}}</td>
    <td>{{user.totalEarnings}}</td>
    <td>{{user.author}}</td>
  </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="onPageChanged($event)" id="server"></pagination-controls>
